<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Company</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/company/add-company">Add a Company</a></li>
            <li><a href="/company/add-review">Add a Review</a></li>
            <li><a href="/company/search">Search for a Company</a></li>
          </ul>
        </nav>
      </header>
  <h1>Add a New Company</h1>
  <form action="/company/add-company" method="POST">
    <label for="name">Company Name:</label>
    <input type="text" name="name" id="name" required>
    
    <label for="description">Description:</label>
    <textarea name="description" id="description" rows="4" required></textarea>
    
    <button type="submit">Add Company</button>
  </form>
</body>
</html>
