<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Company Reviews App</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome to the Company Reviews App</h1>
    <ul>
    <li><a href="/company/add-company">Add a Company</a></li>
    <li><a href="/company/add-review">Add a Review</a></li>
    <li><a href="/company/search">Search for a Company</a></li>
  </ul>
</body>
</html>
